<table class='table'>
  <tbody>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%=link_to user.followings.count, user_followings_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, user_followers_path(user) %></th>
  </tr>
  </tbody>
</table>

<table class='row'>
    <tr>
      <% if current_user != user %>
       <td><%= render "relationships/btn", user: user %></td>
      <% else %>
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
      <% end %>
      <% end %>
      <td>
        <% unless user.id == current_user.id %>
          <% if (current_user.following? user) && (user.following? current_user)  %>
            <% if @isRoom == true %>
             <%= link_to "ダイレクトメッセージ", room_path %>
              <% else %>
              <%= form_with model: @room, local: true do |f|%>
              <%= fields_for @entry do |r| %>
              <%= r.hidden_field :user_id, value: user.id %>
              <% end %>
              <%= f.submit "チャットを始める" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
</table>