<% @entries.each do |e| %>
<%= e.user.name %>さん
<% end %>

    <% if @messages.present? %>
      <% @messages.each do |m| %>
       <%= m.message %>
      <% end %>
    <% end %>

<div class="posts">
     <%= form_with model: @message, local: true do |f| %>
       <%= f.text_field :message, placeholder: "メッセージを入力してください" %>
       <%= f.hidden_field :room_id, value: @room.id %>
       <%= f.submit "送信する" %>
     <% end %>
   </div>